@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
  background-color: var(--Violet);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
  height: auto;
}
h1{
  font-family: 'poppins', serif;
  font-weight: 600;
  color: white;

}
p{
  font-family: 'open san' serif;
  color: white;
  font-weight: 400;
  
}
nav img{
  width: 254px;
  height: 55px;
  margin: 35px;
}
main{
  margin: 40px;
}

.col{
  float: left;
  width: 50%;
  height: 100%;
}
#col1 img{
  width: 100%;
  height: auto;
}
#col2{
  padding: 50px 50px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
/* #img-col img{
  height: 20rem;
} */
/* #col2{
  width: 20rem;
} */

ul, li {
  list-style-type: none;
  display: flex;
  justify-content: end;
  margin: 0.3rem;
  align-self: baseline;
}

.col
/* #txt-col{
  align-items: center;
} */
/* .row{
  position: relative;
  width: 60rem;
  height: 25rem;
} */
/* .row{
  position: relative;
  align-items: center;
} */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}