@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

@media only screen and (min-width: 59.375rem) {
  body {
    background-color: var(--Violet);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    margin: 0.9375rem;
  }

  nav img {
    width: 15.875rem;
    height: 3.4375rem;
    padding: 0.625rem;
    margin: 1rem;
  }

  main {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    color: white;
    margin: 0.5rem;
    padding: 0.3125rem;

  }

  p {
    font-family: "open sans", sans-serif;
    color: white;
    font-weight: 400;
    margin: 0.4375rem;
    padding: 0.25rem;
    font-size: 0.9375rem;

  }

  .row {
    margin: 1rem;
    padding: 0.625rem;
    width: 90%;
  }

  .col {
    float: left;
    width: 50%;
    height: 100%;
  }

  #col1 img {
    width: 100%;
    height: auto;
  }

  #col2 {
    padding: 1.875rem 1.25rem 1.875rem 3.125rem;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  a button {
    margin: 0.5rem;
    padding: 0.3125rem;
    border-radius: 1.5625rem;
    width: 9.375rem;
    height: 2.5rem;
    border-color: transparent;
    box-shadow: 0.25rem 0.25rem 0.1875rem black;
    text-decoration: none;
    font-family: "open sans", sans-serif;
  }

  a button:hover {
    color: white;
    background-color: palevioletred;
    cursor: pointer;
    box-shadow: 0.125rem 0.125rem 0.125rem black;

  }

  a button:active {
    background-color: rgb(192, 103, 133);

  }

  footer {
    margin-right: 2.1875rem;
    padding-right: 1.5625rem;
  }

  ul,
  li {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 0.3rem;
    padding: 0.125rem;
  }

  svg {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  svg:hover {
    fill: palevioletred;

  }

  svg:active {
    fill: rgb(192, 103, 133);
  }
}

@media only screen and (max-width: 60rem) {
  body {
    background-image: url(./images/bg-mobile.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2.5rem;
    padding: 0.625rem;
  }

  nav img {
    width: 9.375rem;
    height: auto;
  }

  main {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  #col1 img {
    width: 100%;
    margin: 0.1875rem;
    padding: 0.125rem;
  }

  #col2 {
    text-align: center;
    margin: 0.625rem;
    padding: 0.3125rem;
  }

  h1 {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    color: white;
  }

  p {
    font-family: "open sans", sans-serif;
    color: white;
    font-weight: 400;
    margin: 0.3125rem;
    padding: 0.1875rem;
    font-size: 1.25rem;
  }

  a button {
    color: blue;
    background-color: white;
    border-radius: 1.25rem;
    width: 10.625rem;
    height: 2.1875rem;
    margin: 2.5rem;
    padding: 0.4375rem;
    border-color: transparent;
    box-shadow: 0.125rem 0.125rem 0.1875rem black;
    text-decoration: none;
    font-family: "open sans", sans-serif;
  }

  a button:active {
    background-color: rgb(192, 103, 133);

  }


  footer {
    display: flex;
    justify-content: center;
  }

  svg {
    width: 1.5625rem;
    height: 1.5625rem;
  }

  ul {
    display: flex;
    margin: 3rem;
    padding: 0.125rem;
    list-style-type: none;
  }

  li {
    margin: 0.3125rem;
    padding: 0.125rem;
  }

  svg:active {
    fill: rgb(192, 103, 133);
  }
}